 [Unit]
 Description=My Sample Service
 After=rpi-streamer.service

 [Service]
 Type=idle
 WorkingDirectory=/home/rolan/
 User=rolan
 ExecStart=/usr/bin/python3 /home/rolan/rpi_camera_homekit/src/cv_surveillance_sensor.py

 [Install]
 WantedBy=rpi-streamer.service